@charset "utf-8";

nav > a:nth-child(1){
    color:rgb(117, 62, 6);
    background-color: rgb(236, 218, 204);;
    font-weight: normal;
}

nav > a:nth-child(3){
    background-color: peru;
    color:white;
    font-weight: bolder;
}

nav > a:hover{
    background-color: peru;
    color:white;
    transition-duration: 0.2s;
}